<div class="container" id="what-we-do">
  <h4 id="home">HOME</h4>
  <p>Haleeo is a soul to soul business with a mission to optimize your business and brand in wellness.</p>
  <p>The health and wellness industry is growing at an astonishing rate; worldwide the industry grew by 10.6% to $3.72 trillion (£3.04 trillion) from 2013 to 2015 at a time when the global economy shrank by 3.6%, making wellness one of the world’s fastest growing and most resilient markets [SRI International, 2014] so there has never been a more crucial time for brands and businesses to distinguish themselves in this crowded market place.</p>
</div>

<div class="parallax one"></div>

<div class="container" id="mental-health">
  <h4 id="backstory">BACKSTORY</h4>
  <p>Meet me - Sophie</p>
  <p>I founded Haleeo to offer complete and dedicated wellness expertise and brand advisory services to both fast growing wellness startups, established brands and influencers so that they stand out and connect with consumers in meaningful ways at a time when communication in the wellness industry is increasingly blurry.</p>
  <p>My experience in wellness is truly unique and offers unrivalled 360 insights and knowledge of the industry:</p>
  <ul class="margin-left-med">
    <li>
      <p class="bold no-margin">Insider perspective</p>
      <p>As a fully qualified personal trainer, Exercise for Referral instructor, yoga teacher and yoga therapist for mental health I can see your story from an inside-industry viewpoint.</p>
    </li>
    <li>
      <p class="bold no-margin">Journalist sixth sense</p>
      <p>As a freelance health and fitness writer I can see your brand story from the other side and am always alert to future trends and new consumer thinking around health and wellness.</p>
    </li>
    <li>
      <p class="bold no-margin">Contacts</p>
      <p>I have experience across all sectors of wellness from green juice and healthy food to studios, fitness concepts, technology, travel and beauty where I have built top tier contacts and media relationships that can elevate your brand</p>
    </li>
    <li>
      <p class="bold no-margin">Startup know-how and agency efficiency</p>
      <p>As the first-joiner of a startup communications agency and being a pivotal part of its growth and success across four years I know what it takes to build a business with experience across every function, and productivity and performance at the heart of everything I do.</p>
    </li>
  </ul>
</div>

<div class="parallax two"></div>

<div class="container" id="mental-yoga">
  <h4 id="services">Services</h4>
  <p>Click on the options below to find out more:</p>

  <div class="accordion-grid" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <div class="card-header" role="tab" id="headingOne">
          <h5 class="mb-0">
              BRAND STRATEGY & ADVISORY
          </h5>
        </div>
        <div id="collapseOne" class="collapse explanatory-text" role="tabpanel" aria-labelledby="headingOne">
          <div class="card-block">
            <p class="no-underline">Leveraging my industry knowledge backed by industry qualifications, long-term working experience in the industry and a network of contacts and brand partners I help clients to build a successful, authentic brand in the wellness space.</p>
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <div class="card-header" role="tab" id="headingTwo">
          <h5 class="mb-0">
              PR & COMMUNICATIONS
          </h5>
        </div>
        <div id="collapseTwo" class="collapse explanatory-text" role="tabpanel" aria-labelledby="headingTwo">
          <div class="card-block">
            I create and implement strategic communications plans for clients to amplify brand awareness and get them ahead of the conversation across print, digital & social, consumer and B2B.
          </div>
        </div>
      </a>
    </div>

    <div class="card">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <div class="card-header" role="tab" id="headingThree">
          <h5 class="mb-0">
              CONTENT CREATION
          </h5>
        </div>
        <div id="collapseThree" class="collapse explanatory-text" role="tabpanel" aria-labelledby="headingThree">
          <div class="card-block">
            I work with clients to deliver high quality, engaging and industry informed content across copywriting, article writing, press releases and editing.
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="parallax three"></div>

<div class="container" id="corporate">
  <h4 id="healthy">HEALTHY ADD-ONS</h4>
  <p>My passion point is health - and for me that means long-term - where I feel happy and my body and mind function at their optimal. I know how easy it is to become disconnected from our bodies and just follow the pack. I want to empower clients to reconnect; to recognize, understand, accept and react to what your body is telling you (whilst having a good old stretch and sweat), which will automatically transform mental performance. Through cutting-edge scientific research and evidence-based methods I offer personal training, yoga and yoga therapy to empower clients to achieve their optimal health:</p>

  <p>As well as in-person sessions I also create ‘at-home programmes’ for clients to do at home in their own time and take with them wherever they are in the world.</p>

  <ul class="margin-left-med">
    <li>Mindful movement and therapeutic yoga flows</li>
    <li>Dynamic vinyasa yoga flows</li>
    <li>HIIT training</li>
    <li>Strength and mobility training</li>
  </ul>
</div>

<div class="parallax four"></div>

<div class="container" id="chill">
  <h4>SIDE NOTE</h4>
  <p>I wouldn’t want you to think I’m just another wellness wannabe trying to flog a new trendy method or online health and fitness programme. This is so NOT Haleeo. My approach and methods come from a highly academic level of medical knowledge, professional training and qualifications, and real-life experience in dealing with mental health issues. I follow the latest scientific and medical research to continue to inform and evolve my offering to give clients the most up-to-date and proven methods in yoga therapy and physical training. Proven benefits are:</p>
  <ul class="chill-list">
    <li>Increased sense of happiness and well-being</li>
    <li>Reduced sense of stress and anxiety</li>
    <li>Increased ability to manage own mental health</li>
    <li>Strengthened parasympathetic ‘calm’ nervous system</li>
    <li>Increased connection from mind to body</li>
    <li>Increased sense of grounding</li>
    <li>Improved quality and quantity of sleep</li>
    <li>Enhanced energy, digestion, joint health, circulation, respiration, and endocrine function</li>
    <li>Restored strength and range of motion</li>
  </ul>
</div>

<div class="parallax five"></div>

<div class="container" id="latest-research">
  <h4 id="blogs">HALEEO DAILY</h4>
  <p>Discover life a la Haleeo – what I’m up to, latest trends I’m looking out for and latest research studies enlightening the industry.</p>
  <p>Stay tuned, coming soon...</p>
  <!-- <p class="hide-desktop">Click <a href="blogsIndex">here to see my blogs</a></p> -->

  <!-- <div class="container mobile-hide" id="haleo-daily">

    <p>See all blogs <a ui-sref="blogsIndex">here</a>:</p>
    <section class="division">
      <ul class="home-blog-list">
        <li ng-repeat="blog in blogsIndex.all | limitTo: 3" class="blog-container card blog-card">
          <a ui-sref="blogsShow({ id: blog._id })">
            <img ng-src="{{ blog.image }}" class="card-img-top">
            <div class="card-block">
              <h2 class="card-text">{{ blog.title }}</h2>
              <h4 class="card-text">{{ blog.author }}</h4>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </div> -->

</div>

<div class="parallax six"></div>

<div class="container">
  <h4><a id="contact" name="contact">CONTACT</a></h4>
  <p>I always want to hear from new people!</p>
  <p>For any new business enquiries, queries or just because you want to say hi please email me at <a href="mailto:hello@haleeo.com?Subject=Hello">hello@haleeo.com</a></p>

  <p>For any personal training / yoga / yoga therapy enquiries please email me at <a href="mailto:hello@haleeo.com?Subject=Training">sophie@haleeo.com</a></p>

  <p>We’re all in this together so please share the love and connect with us and each other on our social channels:</p>
  <!-- <div class="contact-sm">
    <ul class="">
      <li class="no-padding"><a href="#" class="fa fa-facebook"></a></li>
      <li class="no-padding"><a href="https://twitter.com/sheywoods?lang=en" class="fa fa-twitter"></a></li>
      <li class="no-padding"><a href="#" class="fa fa-instagram"></a></li>
      <li class="no-padding"><a href="#" class="fa fa-youtube"></a></li>
    </ul>
  </div> -->
</div>

<div class="parallax seven"></div>
